.book.summary {
    cursor: pointer;
}
.book.summary:hover {
    background: rgba(0,0,0,.03);
}
.book.summary.active {
    background: rgba(0,0,0,.05);
}
.validation-errors {
    color: red;
}
.ng-submitted .form-control.ng-invalid,
.form-control.ng-touched.ng-invalid {
    border-color: red;
}
.author-remove,
.author-add,
.form-book__image__remove,
.form-book__image__restore {
    cursor: pointer;
}
.form-book__form-author {
    margin-bottom: 15px;
}

.form-book__image {
    max-width: 200px;
    max-height: 200px;
}